body{
    background-image:url("facebook_background.jpg");
    background-size: cover;
}

h1 {
    color:red;
    font-family: Monaco;
}

h2{
    color:red;
    font-family: Monaco;
}

.center {
    margin: auto;
    width: 75%;
    border: 3px;
    padding: 10px;
    text-align: center
}


div {
    width: 1000px;
    padding: 25px;
    box-sizing: border-box;
    background-color:white;
    opacity: 0.7;
}
