<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<script>



    function handle_take_photo(){
        console.log('hello')
        $.post("/take", function(data){
            console.log('????')
            console.log(data)

        })
    }

    $(document).ready(function(){
        $("#take_photo").click(handle_take_photo)
    })


</script>
<link rel="stylesheet" href="../static/style.css">

<body>

    <h1>
        Welcome to Stalker Pro!
    </h1>
    <h2>
        Choose an image, or take a picture of who you want to stalk!
    </h2>
    <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />

        <button id = "take_photo" type = "button">
            Take picture
        </button>

        <input type = "submit">

      </form>



</body>
</html>